<%- include("header") -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">


    <% newListItems.forEach( newItem=> { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name='checkedbox' value="<%= newItem._id %>" onChange='this.form.submit()'>
          <!-- <input type="checkbox" name='checkedbox' value="<%= newItem._id %>,<%= newItem.name %>" -->
          <p>
            <%= newItem.name %>
              <!-- AS previously it was just a para but now that it is coneected to the db it shocase all the field names in the document/obj so need to mention which field value is needed here for eg. 'name'  -->
          </p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
      <% }); %>

        <form class="item" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>
  </div>

  <%- include("footer") -%>

    <!-- <% for (let i=0; i<newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p>
        <%= newListItems[i].name %> -->
    <!-- AS previously it was just a para but now that it is coneected to the db it shocase all the field names in the document/obj so need to mention which field value is needed here for eg. 'name'  -->
    <!--  </p>
    </div>
    <% } %> -->